.head {
    min-height: 21vh !important;
}
.head-image {
    background-size: contain;
    width: 70px;
    align-self: center;
}

ion-item {
    --background: #ddf3f5;
    --color: #436f8a;
}

ion-button {
    --background: #899497;
    --color: #436f8a;
}

.buttonsingup {
    --background: #24d6ea;
    --color: #383a3e;
}

.img {
    height: 20vh;
    width: 20%;
    margin: auto;
    display: block;
}

.error {
    --color: #e36387;
}
